<h1>Provider: <%= link_to @provider.name, @provider.base_url %></h1>

<div>
	<p>Requested at: <%= @provider.created_at %></p>
	<p>Status: <%= @provider.status %></p>

	<% if @provider.pending? %>
		<p>
			Fingerprint:
			<code>
				<%= @provider.fingerprint %>
			</code>
		</p>
		<%= button_to "Approve", @provider, method: :patch, params: {provider: {status: "approved"}}%>
		<%= button_to "Deny", @provider, method: :patch, params: {provider: {status: "denied"}}%>
	<% end %>
</div>
